body{
  background-color: #fff;
}

.App {
  margin-top:2%;
  display: flex;
  justify-content: center;
  text-align: center;
 
}
.keys{
  height: 7vh;
  border-radius: 16px;
  margin: 10px;
  background-color: aquamarine;
}
.row{
  display: flex;
}

